[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Leetcode daily trainning by using C/C++/RUST programming.
[access "refs/*"]
	owner = group user/Carlos Wei (Haochen) (carloscn)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Carlos Wei (Haochen) (carloscn)
	label-Verified = -1..+1 group user/Carlos Wei (Haochen) (carloscn)
	push = group user/Carlos Wei (Haochen) (carloscn)
	read = group user/Carlos Wei (Haochen) (carloscn)
	rebase = group user/Carlos Wei (Haochen) (carloscn)
	removeReviewer = group user/Carlos Wei (Haochen) (carloscn)
	submit = group user/Carlos Wei (Haochen) (carloscn)
[access "refs/heads/*"]
	create = group user/Carlos Wei (Haochen) (carloscn)
	push = +force group user/Carlos Wei (Haochen) (carloscn)
	pushMerge = group user/Carlos Wei (Haochen) (carloscn)
	read = group user/Carlos Wei (Haochen) (carloscn)
[access "refs/tags/*"]
	push = group user/Carlos Wei (Haochen) (carloscn)
	push = +force group user/Carlos Wei (Haochen) (carloscn)
